<ion-header>
  <p id="header" #header>Search any English word to discover its features...like TAR</p>
</ion-header>
<ion-content>
  <ion-searchbar
    autocomplete="on"
    inputmode="search"
    spellcheck="true"
    class="items-searchbar"
    animated
    mode="ios"
    type="text"
    debounce="500"
    [(ngModel)]="searchQuery"
    placeholder="Word Search..."
    #searchBox
    (ionChange)="filter($event)"
    (ionInput)="filter($event)"
    (ionClear)="onClear($event)"
  ></ion-searchbar>

  <ion-virtual-scroll [items]="words" approxItemHeight="45px">
  
    <app-word-component
      *virtualItem="let word;"      [word]="word"
    ></app-word-component>
  </ion-virtual-scroll>
</ion-content>
